a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none !important;
}

body {
    font-family: 'Rock Salt', cursive;
}

h5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

html, body { 
  margin:0; 
  padding:0; 
  font-size: 16px;
}

#message {
    color: #000;
    margin-top: 20px;
}

.signature {
    font-size: 14px;
    color: #BBB;
    margin-bottom: 40px;
}

#simon {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.timerSettings {
    height: 50px;
}

@media screen and (max-width: 383px) {
    h5 {
        font-size: 32px;
    }  
}

.color2 {
    fill: #00f5ff;
    stroke: #00f5ff;
}

#colorButton1:hover {
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    #simon {
        width: 100%;
    }  
    #pageContent {
        padding: 0;
    }
}